# temp dirs
dags_bkp/
dags/modules/
dags/__pycache__/
.git.bkp

# IDE
.idea/

# certificates
certs/

# Logs
logs/

# data
dremio/data/

# auto generated
unittests.cfg
webserver_config.py
airflow.cfg

# dev env
venv/
.env
requirements.txt

# secrets
dremio/conf/core-site.xml


# superset
superset/superset_home/
superset/db_home/
superset/docker/
superset/redis/
superset/scripts/notes.txt

# mongodb
mongodb/data/
